@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
     background-color: #1e1e1e;
     color: snow;
     margin: 50px;
     padding: 15px;
     font-family: 'Inter', sans-serif;
}
div {
     padding: 10px;
     margin: 5px;
     margin-left: 0px;
}
button {
     padding: 10px;
     margin-top: 10px;
}
div.controls {
     margin-left: 5px;
}
.footer-clean {
  padding:50px 0;
}

ul {
     list-style: none;
     padding-left: 0px;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.social a {
     margin-left: 10px;
}